@model Category

@{
    ViewData["Title"] = "Details";
}


<h1>Details</h1>

<div>
    <h4 class="text-white">Kategoria</h4>
    <hr/>
    <dl class="row text-white">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
    </dl>
</div>
<div class="text-white">
    <a class="link-padding rounded" asp-action="Edit" asp-route-id="@Model.ID">Edytuj</a> 
    |
    <a class="link-padding rounded" asp-action="Index">Wróć do listy</a>
</div>