@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = Localizer["Home page"];
}

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/HomeIndexEnter.js"></script>

<div class="container">
    <ul class="list-group text-center">

        @if (ViewBag.User == null)
        {
            <a class="text-decoration-none" style="color: inherit" asp-action="Login">
                <li class="list-group-item btn-dark link" style="display: none">
                    @Localizer["Log in"]
                </li>
            </a>
            <a class="text-decoration-none" style="color: inherit" asp-action="Register">
                <li class="list-group-item btn-dark link" style="display: none">
                    @Localizer["Register"]
                </li>
            </a>
        }

        <a class="text-decoration-none" style="color: inherit" asp-controller="Memes" asp-action="Index">
            <li class="list-group-item btn-dark link" style="display: none">
                @Localizer["Browse all"]
            </li>
        </a>

        <a class="text-decoration-none" style="color: inherit" asp-controller="Categories" asp-action="Index">
            <li class="list-group-item btn-dark link" style="display: none">
                @Localizer["Browse categories"]
            </li>
        </a>

        @if (ViewBag.IsAdmin)
        {
            <a class="text-decoration-none" style="color: inherit" asp-controller="Admin" asp-action="Index">
                <li class="list-group-item btn-dark link" style="display: none">
                    @Localizer["Administration"]
                </li>
            </a>
        }

        @if (ViewBag.User != null)
        {
            <a class="text-decoration-none" style="color: inherit" asp-controller="Memes" asp-action="Create">
                <li class="list-group-item btn-dark link" style="display: none">
                    @Localizer["Add meme"]
                </li>
            </a>
        }

    </ul>
</div>