@model Meme

@{
    ViewData["Title"] = "Delete";
}

<h1 class="text-white">Usuwanie</h1>

<h3>Czy na pewno chcesz usunąć mema?</h3>
<div>
    <h4 class="text-white">Meme</h4>
    <hr/>
    <dl class="row">
        <dt class="col-sm-2 text-white">
            @Html.DisplayNameFor(model => model.ImageURL)
        </dt>
        <dd class="col-sm-10 text-white">
            @Html.DisplayFor(model => model.ImageURL)
        </dd>
        <dt class="col-sm-2 text-white">
            @Html.DisplayNameFor(model => model.Comment)
        </dt>
        <dd class="col-sm-10 text-white">
            @Html.DisplayFor(model => model.Comment)
        </dd>
        <dt class="col-sm-2 text-white">
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd class="col-sm-10 text-white">
            @Html.DisplayFor(model => model.Category.Title)
        </dd>
        <dt class="col-sm-2 text-white">
            @Html.DisplayNameFor(model => model.User)
        </dt>
        <dd class="col-sm-10 text-white">
            @Html.DisplayFor(model => model.User.Id)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="ID"/>
        <input type="submit" value="Delete" class="btn btn-danger"/> |
        <a asp-action="Index" class="link">Wróć</a>
    </form>
</div>